{% section 'breadcrumb' %}
{% if settings.register_account_image == blank and settings.register_account_image_mobile == blank %}
  {% assign check = false %}
{% else %}
  {% assign check = true %}
{% endif %}
<div class="flex flex-wrap mx-auto md:px-4 xl:px-20 md:pb-9 lg:pb-18">
  <div class="w-full h-full{% if check %}  md:max-w-48.4375-percent order-1 md:order-2{% endif %}">
    {% if settings.register_account_image != blank %}
      {% if settings.register_account_url != blank %}
        <a {% if settings.register_account_new_tab %}target="_blank" href="{{ settings.register_account_url }}"{% endif %}
      {% else %}
        <div 
      {% endif %} 
      class="{% if settings.register_account_image_mobile != blank %}!hidden md:!block {% endif %} rounded-sm group relative w-full block overflow-hidden before:content-empty before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-1">
        <img src="{{ settings.register_account_image | image_url: width: settings.register_account_image.width }}" loading="lazy" width="{{ settings.register_account_image.width }}" height="{{ settings.register_account_image.height }}"  alt="{{ settings.register_account_image.alt }}" class="block object-cover object-center w-full h-full max-w-full">
      {% if settings.register_account_url != blank %}
        </a>
      {% else %}
        </div>
      {% endif %} 
    {% endif %}
    {% if settings.register_account_image_mobile != blank %}
      {% if settings.register_account_url != blank %}
        <a {% if settings.register_account_new_tab %}target="_blank" href="{{ settings.register_account_url }}"{% endif %}
      {% else %}
        <div
      {% endif %} class="{% if settings.register_account_image != blank %}md:!hidden {% endif %} rounded-sm group relative w-full block overflow-hidden before:content-empty before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-1">
        <img src="{{ settings.register_account_image_mobile | image_url: width: settings.register_account_image_mobile.width }}" loading="lazy" width="{{ settings.register_account_image_mobile.width }}" height="{{ settings.register_account_image_mobile.height }}"  alt="{{ settings.register_account_image_mobile.alt }}" class="block object-cover object-center w-full h-full max-w-full">
      {% if settings.register_account_url != blank %}
        </a>
      {% else %}
        </div>
      {% endif %}
    {% endif %}
  </div>
  <div class="order-2 md:order-1 w-full h-full flex items-center justify-center py-8 px-4{% if check %} md:pl-0 xl:px-10 xl:pr-31.5 md:max-w-51.5625-percent{% else %} max-w-51.5625-percent mx-auto{% endif %}">
    <div class="w-full">
      <div class="text-center md:text-left">
        <h1 class="w-full mb-2 text-2xl font-bold text-grey-900">Create an account</h1>
        <div class="text-sm leading-5.5 text-grey-700">
          <a class="underline hover:text-accent-1" href="{{ routes.account_login_url }}">Already have an account?</a>
        </div>
        {% if settings.register_content != blank %}
          <span class="block mt-2">{{ settings.register_content }}</span>
        {% endif %}
      </div>
      <div>
        {%- form 'create_customer' -%}
          {%- if form.errors -%}
            <div class="my-4 message message-error" role="alert">
              <strong>There were errors with your submission</strong>
              {{ form.errors | default_errors }}
              <div class="close-message">
                {% render 'icon-close-error' %}
              </div>
            </div>
          {%- endif -%}
          <div class="my-4 field__input">
            <input
              autocomplete="first_name"
              class="w-full"
              id="first_name"
              name="customer[first_name]"
              placeholder="First name"
              type="text"
              pattern="^.*[a-zA-Z]+.*$"
              title="Must contain at least 1 letter">
            <label for="first_name">First name</label>
          </div>
          <div class="mb-4 field__input">
            <input
              autocomplete="last_name"
              class="w-full"
              id="last_name"
              name="customer[last_name]"
              placeholder="Last name"
              type="text"
              pattern="^.*[a-zA-Z]+.*$"
              title="Must contain at least 1 letter">
            <label for="last_name">Last name</label>
          </div>
          {% comment %} <div class="mb-4 field__input">
            <input
              class="w-full"
              id="birthday"
              name="customer[note][Birthday]"
              type="date">
            <label for="birthday">Birthday</label>
          </div> {% endcomment %}
          <div class="mb-4 field__input">
            <input
              autocomplete="email"
              class="w-full"
              id="email_address"
              name="customer[email]"
              placeholder="email address"
              type="email">
            <label for="email_address">Email address</label>
          </div>
          <div class="mb-4 field__input">
            <input
              class="w-full"
              id="phone"
              name="customer[phone]"
              placeholder="Phone"
              type="number">
            <label for="phone">Mobile</label>
          </div>
          <div class="mb-4 field__input">
            <input
              autocomplete="new-password"
              class="w-full"
              id="password"
              name="customer[password]"
              placeholder="password"
              type="password">
            <label for="password">Password</label>
          </div>
          <div class="mb-4 field__input">
            <input
              class="w-full"
              id="DOB"
              name="customer[note][DOB]"
              type="date">
            <label for="DOB">DOB</label>
          </div>
          <div class="flex items-center justify-start mb-4 field__input field__checkbox flex-nowrap">
            <input type="checkbox" name="customer[accepts_marketing]" checked="checked" id="marketing">
            <label for="marketing" class="ml-4 text-sm">By signing up you are agreeing to receive marketing communications from us. For more info, see our <a class="text-sm no-underline" href="/pages/privacy-policy">privacy policy</a>.</label>
          </div>
          <button class="block relative w-full btn-primary show-shadow mt-4 !py-3" type="submit">Create account</button>
          <input name="return_to" type="hidden" value="/account">
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
