{% section 'breadcrumb' %}
<div class="customer reset-password h-full w-full flex items-center justify-center max-w-x424 mx-auto flex-wrap md:flex-nowrap">
    <div class="w-full md:w-full flex items-center justify-center flex-wrap">
        <div class="max-w-full md:max-w-x674 w-full px-4 py-8 mx-auto md:py-x72">
            <div class="w-full mb-5 text-center md:text-left">
                <h1 class=" text-grey-900 font-bold text-2xl md:text-3xl w-full mb-2">{{ 'customer.reset_password.title' | t }}</h1>
                <span class="block text-sm leading-5.5 text-grey-700">{{ 'customer.reset_password.subtext' | t: email: email }}</span>
            </div>
            {%- form 'reset_customer_password', id: "reset_customer_password" -%}
                {%- if form.errors -%}
                    <div class="message message-error my-4" role="alert" bis_skin_checked="1">
                        <strong>Error</strong>
                        <div class="errors" bis_skin_checked="1">
                            <ul>
                                <li>
                                    {%- for field in form.errors -%}
                                        {%- if field == 'form' -%}
                                            {{ form.errors.messages[field] }}
                                        {%- else -%}
                                            {{ form.errors.translated_fields[field] | capitalize }}
                                            {{ form.errors.messages[field] }}
                                        {%- endif -%}
                                    {%- endfor -%}
                                </li>
                            </ul>
                        </div>
                        <div class="close-message" bis_skin_checked="1">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" fill="currentColor"></path>
                                <path d="M10 6L6 10" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M10 10L6 6" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                {%- endif -%}
                
                <div class="field__input mb-4">
                    <input
                        type="password"
                        name="customer[password]"
                        class="relative block w-full"
                        id="password"
                        autocomplete="new-password"
                        placeholder="{{ 'customer.reset_password.password' | t }}"
                    >
                    <label for="password">
                        {{ 'customer.reset_password.password' | t }}
                    </label>
                </div> 
    
                <div class="field__input mb-4">
                    <input
                        type="password"
                        name="customer[password_confirmation]"
                        class="relative block w-full"
                        id="password_confirmation"
                        autocomplete="new-password"
                        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                    >
                    <label for="password_confirmation">
                        {{ 'customer.reset_password.password_confirm' | t }}
                    </label>
                </div>
                <button class="btn-primary show-shadow w-full !p-3 h-12">
                    {{ 'customer.reset_password.submit' | t }}
                </button>
            {%- endform -%}
        </div>
    </div>
</div>