{% capture src_url %}{{ 'apps.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}
{{ 'apps.css' | asset_url | stylesheet_tag }}
<style>
  [data-section-id="{{ section.id }}"] {
    {% if section.settings.background %}
      background-color: {{ section.settings.background }};
    {% endif %}
    padding-top: {{ section.settings.pd_top_mb | append: 'px' }};
    padding-bottom: {{ section.settings.pd_bottom_mb | append: 'px' }};
  }
  @media (min-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.pd_top_tl | append: 'px' }};
      padding-bottom: {{ section.settings.pd_bottom_tl | append: 'px' }};
    }
  }
  @media (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.pd_top_dt | append: 'px' }};
      padding-bottom: {{ section.settings.pd_bottom_dt | append: 'px' }};
    }
  }
</style>
{% if section.blocks.size > 0 %}
  <section data-section-id="{{ section.id }}">
    <div class="mx-auto {{ section.settings.width }} {% if section.settings.width_mobile != 'max-w-full' %}px-4{% else %}md:px-4{% endif %} {{ section.settings.width_mobile }}">
      {%- for block in section.blocks -%}
        {% render block %}
      {%- endfor -%}
    </div>
  </section>
{% endif %}
{% schema %}
{
  "name": "App",
  "settings": [
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "md:max-w-container",
      "options": [
        {
          "value": "md:max-w-container",
          "label": "Default"
        },
        {
          "value": "md:max-w-full",
          "label": "Fullwidth"
        },
        {
          "value": "md:max-w-[84rem]",
          "label": "84 rem"
        }
      ]
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color"
    },
    {
      "type": "range",
      "id": "pd_top_dt",
      "label": "Padding top",
      "max": 200,
      "min": 0,
      "step": 2,
      "default": 72
    },
    {
      "type": "range",
      "id": "pd_bottom_dt",
      "label": "Padding bottom",
      "max": 200,
      "min": 0,
      "step": 2,
      "default": 72
    },
    {
      "type": "header",
      "content": "Tablet"
    },
    {
      "type": "range",
      "id": "pd_top_tl",
      "label": "Padding top",
      "max": 200,
      "min": 0,
      "step": 2,
      "default": 36
    },
    {
      "type": "range",
      "id": "pd_bottom_tl",
      "label": "Padding bottom",
      "max": 200,
      "min": 0,
      "step": 2,
      "default": 36
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "Width(mobile)",
      "default": "max-w-container",
      "options": [
        {
          "value": "max-w-container",
          "label": "Default"
        },
        {
          "value": "max-w-full",
          "label": "Fullwidth"
        }
      ]
    },
    {
      "type": "range",
      "id": "pd_top_mb",
      "label": "Padding top",
      "max": 200,
      "min": 0,
      "step": 2,
      "default": 32
    },
    {
      "type": "range",
      "id": "pd_bottom_mb",
      "label": "Padding bottom",
      "max": 200,
      "min": 0,
      "step": 2,
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "App"
    }
  ]
}
{% endschema %}
