<div class="lg:border-t lg:border-border-default pt-5 pb-3 lg:pt-8 lg:pb-8 bg-grey-100 -mt-px lg:mt-0" data-block-id="{{ block.id }}">
    <div class="flex justify-between flex-wrap flex-col lg:flex-row items-center xl:px-20 px-4 mx-auto">
      <p class="text-input text-grey-700 mb-5 lg:m-0 lg:pr-8">
        &copy; {{ 'now' | date: '%Y' }} {{ shop.name }} {{ section.settings.custom_text }}
      </p>
      <ul class="-order-1 lg:order-1 flex flex-wrap max-w-65 lg:max-w-full justify-center{% if section.settings.payment and shop.enabled_payment_types != empty %} mb-2.5 lg:mb-0{% endif %}">
        {% for block in section.blocks %}
          <li class='payment-image ml-2 first:ml-0 mb-5 lg:mb-0 max-w-x35'>
            {% if block.settings.image %}
              {{ block.settings.image | image_url: width: 140 | image_tag }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  {% schema %} 
  {
    "name": "Copyright",
    "settings": [
      {
        "type": "text",
        "id": "custom_text",
        "label": "Custom text after shop name",
        "info": "© 2022 Shoe Warehouse + custom text"
      }
    ],
    "blocks": [
      {
        "type": "imagelist",
        "name": "Payment logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
  {% endschema %}
    