{{ 'feature-products.css' | asset_url | stylesheet_tag }}
{{ 'minicart-list.css' | asset_url | stylesheet_tag }}

{% assign productRecommend = section.settings.product %}
{% if template.name == "article" %}
  {% if article.metafields.article.related_product != blank %}
    {% assign productRecommend = article.metafields.article.related_product.value %}
  {% endif %}
{% elsif template.name == "product" %}
  {% assign productRecommend = product %}
{% endif %}
{% assign cartItems = '' %}
{% for item in cart.items %}
  {% if forloop.first %}
    {% assign cartItems = cartItems | append: item.product.handle %}
  {% else %}
    {% assign cartItems = cartItems | append: ',' | append: item.product.handle %}
  {% endif %}
{% endfor %}
{% capture recommendations_profile %}
  {
    "tags": "{{ section.settings.searchspring_tags }}",
    "section_id": "{{ section.id }}",
    "product": {
      "id": "{{ productRecommend.id }}",
      "handle": "{{ productRecommend.handle }}",
      "sku": "{{ productRecommend.sku }}"
    },
    "customer": "{{ customer.id }}",
    "cart": "{{ cartItems }}",
    "limits": "{{ section.settings.limit }}"
  }
{% endcapture %}

{% if section.settings.using_searchspring %}
  <div class="{% if section.settings.border_bottom %}border-b border-border-default{% endif %}" data-section-id="{{ section.id }}" tracking-click="false" tracking-impression="false">
    <div class="pl-4 xl:px-6 xl:pr-0 py-5 xl:py-6 border-t border-border-default mx-auto overflow-hidden">
      <div class="cart-swiper-also-like section-feature-products overflow-hidden" data-selector="searchspring-carousel" data-searchspring-profile='{{ recommendations_profile }}' data-section="{{ section.id }}" data-item-per-slide-mobile="1.285" data-item-per-slide-tablet="1.475" data-item-per-slide-desktop="1.475">
        {% if section.settings.title != blank %}    
          <div class="flex relative items-center mb-4 lg:mb-5 px-0">
            {% if section.settings.title != blank %}
              <h3 class="text-base lg:text-lg lg:leading-6 text-grey-900 font-bold m-0 pr-14">{{ section.settings.title }}</h3>
            {% endif %}
            <span class="swiper-button-prev text-grey-400 !left-auto !right-10 xl:!right-12 hover:text-secondary flex justify-center items-center cursor-pointer">{% render 'icon-chevron-left', class: 'w-5 h-5' %}</span>
            <span class="swiper-button-next text-grey-400 !right-3 xl:!right-5 hover:text-secondary flex justify-center items-center cursor-pointer">{% render 'icon-chevron-right', class: 'w-5 h-5' %}</span>
          </div>
        {% endif %}
        <div class="product-wrapper swiper-wrapper md:pr-0 pr-4">
        </div>
        <div class="swiper-feature-products-pagination mx-auto mt-6 lg:mt-10 flex justify-center max-w-49 w-full text-center leading-0"></div>
      </div>
    </div>
  </div>
{% else %}
  <div class="{% if section.settings.border_bottom %}border-b border-border-default{% endif %}">
    <div class="pl-4 xl:px-6 xl:pr-0 py-5 xl:py-6 border-t border-border-default mx-auto overflow-hidden">
      <div class="overflow-hidden cart-swiper-also-like swiper" data-item-per-slide-mobile="1.285" data-item-per-slide-tablet="1.475" data-item-per-slide-desktop="1.475">
        {% if section.settings.title != blank %}    
          <div class="flex relative items-center mb-4 lg:mb-5 px-0">
            {% if section.settings.title != blank %}
              <h3 class="text-base lg:text-lg lg:leading-6 text-grey-900 font-bold m-0 pr-14">{{ section.settings.title }}</h3>
            {% endif %}
            <span class="swiper-button-prev text-grey-400 !left-auto !right-10 xl:!right-12 hover:text-secondary flex justify-center items-center cursor-pointer">{% render 'icon-chevron-left', class: 'w-5 h-5' %}</span>
            <span class="swiper-button-next text-grey-400 !right-3 xl:!right-5 hover:text-secondary flex justify-center items-center cursor-pointer">{% render 'icon-chevron-right', class: 'w-5 h-5' %}</span>
          </div>
        {% endif %}
        <div class="product-wrapper swiper-wrapper md:pr-0 pr-4">
          {% for product in section.settings.collection.products limit: section.settings.limit %}
            <div class="flex swiper-slide">
              <a href="{{ product.url }}">
                <div class="w-20 min-w-x80 h-x100 mr-5">
                    {{ product | image_url: width: 80 | image_tag: heigth: 100 }}
                </div>
              </a>
              <div class="w-full-x100 mt-px text-left">
                <h4 class="text-grey-900 text-sm leading-x22 font-bold text-ellipsis whitespace-nowrap overflow-hidden">
                  {{ product.vendor }}
                </a>
                <a href="{{ product.url }}" class="no-underline text-grey-900 hover:text-accent-1 block font-normal text-base leading-x22 text-ellipsis whitespace-nowrap overflow-hidden">
                  {{ product.title | replace: " iii", " III" | replace: " ii", " II" | replace: " Ii", " II" | replace: " Iii", " III"  }}
                </a>               
                {% if product.compare_at_price > product.price %}
                  <div class="flex items-center w-full">
                    <p class="text-sm leading-x22 font-medium text-grey-900 w-fit line-through mr-2 mb-0">{{ product.compare_at_price | money }}</p>
                    <p class="text-sm leading-x22 font-bold text-error-content w-full mb-0">{{ product.price | money }}</p>
                  </div>
                {% else %}
                  <p class="text-sm leading-x22 font-bold text-grey-900 w-full m-0">{{ product.price | money }}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<script type="text/javascript">
  window['seedBeacon'] = [];
  if (document.body.classList.contains('template-product')) {
    window['seedBeacon'] = "{{ product.variants[0].sku }}";
  } else if (document.body.classList.contains('template-cart')) {
    {% for item in cart.items %}
      window['seedBeacon'].push({sku:"{{ item.product.variants[0].sku }}"});
    {% endfor %}
  } else {
    window['seedBeacon'] = null;
  }
</script>

{% capture src_url %}{{ 'feature-products.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}
{% capture src_url %}{{ 'minicart-list.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}

{% schema %}
{
  "name": "Minicart products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection placeholder"
    },
    {
      "type": "checkbox",
      "id": "using_searchspring",
      "label": "Using seachspring",
      "default": true
    },
    {
      "type": "header",
      "content": "SearchSpring info"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "searchspring_tags",
      "default": "api-test",
      "label": "SearchSpring Tags"
    },
    {
      "type": "header",
      "content": "Style content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "Enable border bottom"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Number products to show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Minicart products"
    }
  ]
}
{% endschema %}