{% capture src_url %}{{ 'template-article.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}
{{ 'template-article.css' | asset_url | stylesheet_tag }}

<article
  class="pb-6 lg:pb-18 lg:pt-12"
  itemscope
  itemtype='http://schema.org/BlogPosting'>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'article_title' -%}
      <div class="px-4 max-w-article-container mx-auto text-center">
        <a href="{{ blog.url }}" class="text-sm leading-5.5 font-bold inline-block font-semibold text-yellow-900 hover:text-yellow-900 capitalize mb-2 no-underline">{{- blog.title -}}</a>
        <h1 class="text-2xl leading-8 lg:text-3xl lg:leading-9 font-bold text-grey-900 mb-6 lg:mb-8 max-w-161 mx-auto" itemprop="headline">
          {{ article.title }}
        </h1>
      </div>
      {%- when 'article_excerpt' -%}
      <p class="px-4 max-w-article-container mx-auto text-center mb-6 lg:mb-8 text-grey-700">{{ article.excerpt | strip_html }}</p>
      {%- when 'article_author' -%}
      <div
        class="max-w-article-container px-4 mx-auto"
        itemscope
        itemtype="http://schema.org/Person">
        <div class="px-4 max-w-article-container mx-auto text-center mb-2">
          {%- if section.settings.enable_author -%}
            <small itemprop="author">{{ article.author }}</small>
          {%- endif -%}
        </div>
      </div>
      {%- when 'article_published_date' -%}
      <div class="px-4 max-w-article-container mx-auto text-center mb-2">
        {%- if section.settings.enable_published_date -%}
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}" itemprop="datePublished dateCreated">
            {{ article.published_at | date: format: 'on_date' }}
          </time>
        {%- endif -%}
      </div>
      {%- when 'article_featured_image' -%}
      {% if article.metafields.banner.banner_mobile != blank or article.metafields.banner.banner_desktop != blank or article.image != blank %}
        <div class="max-w-article-container mx-auto w-full h-full px-4 object-cover mb-6 lg:mb-8 lg:rounded-sm overflow-hidden" itemprop="image">
          {% if article.metafields.banner.banner_mobile != blank %}
            <img
              class="w-full h-full object-cover{% if article.metafields.banner.banner_desktop != blank or article.image != blank %} md:hidden{% endif %}"
              src="{{ article.metafields.banner.banner_mobile | image_url }}"
              alt="{{ article.metafields.banner.banner_mobile.alt }}"
              width="{{ article.metafields.banner.banner_mobile.width }}"
              height="{{ article.metafields.banner.banner_mobile.height }}"
              loading="lazy">
          {% endif %}
          {% if article.metafields.banner.banner_desktop != blank %}
            <img
              class="w-full h-full object-cover{% if article.metafields.banner.banner_mobile != blank %} hidden md:block{% endif %}"
              src="{{ article.metafields.banner.banner_desktop | image_url }}"
              alt="{{ article.metafields.banner.banner_desktop.alt }}"
              width="{{ article.metafields.banner.banner_desktop.width }}"
              height="{{ article.metafields.banner.banner_desktop.height }}"
              loading="lazy">
          {% endif %}
          {% unless article.metafields.banner.banner_desktop != blank %}
            <img
              class="object-cover object-center w-full md:h-96{% if article.metafields.banner.banner_mobile != blank %} hidden md:block{% endif %}"
              src="{{ article.image | image_url }}"
              alt="{{ article.image.alt }}"
              width="{{ article.image.width }}"
              height="{{ article.image.height }}"
              loading="lazy">
          {% endunless %}

        </div>
      {% endif %}
      {%- when 'article_content' -%}
      <div class="max-w-article-container px-4 mx-auto content mb-6 lg:mb-8" itemprop="articleBody">
        {{ article.content }}
      </div>
    {%- endcase -%}
  {%- endfor -%}
  {% if article.tags.size > 0 %}
    <div class="flex flex-wrap max-w-article-container px-4 mx-auto gap-4 mb-6 lg:mb-8">
      {% for tag in article.tags %}
        {{ tag | link_to_tag: tag | replace: '<a', '<a class="text-base font-medium leading-6 bg-grey-100 text-grey-900 no-underline px-5.5 py-2.5 rounded-12.5 hover:text-grey-100 hover:bg-grey-900 transition-all"' }}
      {% endfor %}
    </div>
  {% endif %}
  <div class="max-w-article-container px-4 mx-auto">
    {% render 'social-sharing' %}
  </div>
</article>
{% if section.settings.enable_comment %}
  {%- if blog.comments_enabled? -%}
    <div class="px-4 max-w-article-container mx-auto mb-6 lg:mb-8" id="comments">
      {%- if article.comments_count > 0 -%}
        <div class="flex-1 items-center-justify-center">
          <h1 class="mb-4 text-lg font-medium">See what people are saying</h1>
          {% paginate article.comments by 5 %}
            {% for comment in article.comments %}
              <div class="flex-1 py-2 my-4 leading-relaxed border sm:px-6 sm:py-4">
                <span class="comment-author">{{ comment.author }}</span>
                <span class="text-xs text-grey-400">
                  {{- comment.created_at | date: format: 'default' -}}
                </span>
                <p class="text-sm">{{ comment.content }}</p>
              </div>
            {% endfor %}
            <div class="mx-auto">
              {% render 'pagination', pagination: paginate %}
            </div>
          {% endpaginate %}
        </div>
      {%- else -%}
        <p>There are no comments in this article.</p>
      {%- endif -%}
    </div>
  {%- endif -%}

  <div class="px-4 max-w-article-container mx-auto" id="comment_form">
    {%- form 'new_comment', article -%}
      <div class="items-center justify-center flex-1">
        {%- if form.errors -%}
          <div class="p-5 border">
            <div class="flex flex-row items-center w-full my-3">
              <div class="text-red-500">
                {% render 'icon-failed' %}
              </div>
              <div class="ml-3 text-sm font-medium">
                Error submitting your commment, please try again later...
              </div>
            </div>
            <ul class="px-4 mb-3 list-decimal ml-7">
              {%- for error in form.errors -%}
                <li>
                  <span>{{ form.errors.messages[error] }}</span>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- elsif form.posted_successfully? -%}
          <div class="flex flex-row items-center w-full p-5 my-3">
            <div class="text-green-500">
              {% render 'icon-success' %}
            </div>
            <div class="ml-3 text-sm font-medium">Comment has been posted!</div>
          </div>
        {%- endif -%}
        <div class="mb-3 md:flex">
          <div class="pr-3 md:w-1/2">
            <label class="mb-2 text-xs font-medium text-headerColor uppercase" for="comment_author">Name</label>
            <input
              class="w-full px-4 py-3 mb-3 text-headerColor border rounded focus:outline-none"
              id="comment_author"
              name="comment[author]"
              placeholder="Jane Doe"
              required
              type="text">
          </div>
          <div class="pl-3 md:w-1/2">
            <label class="mb-2 text-xs font-medium text-headerColor uppercase" for="comment_email">Email</label>
            <input
              class="w-full px-4 py-3 mb-3 text-headerColor border rounded focus:outline-none"
              id="comment_email"
              name="comment[email]"
              placeholder="jane@doe.com"
              required
              type="email">
          </div>
        </div>
        <div class="mb-3 md:flex">
          <div class="md:w-full">
            <label class="mb-2 text-xs font-medium text-headerColor uppercase" for="comment_content">Comment</label>
            <textarea
              class="w-full h-20 py-2 text-headerColor border resize-none focus:outline-none"
              id="comment_content"
              name="comment[body]"
              required></textarea>
          </div>
        </div>
        <div class="mb-3 md:flex">
          <div class="md:w-full">
            <input
              class="w-full px-4 py-2 text-base font-medium text-white bg-gray-900 border cursor-pointer hover:bg-gray-500"
              type="submit"
              value="Post Comment">
          </div>
        </div>
      </div>
    {%- endform -%}
  </div>
{% endif %}
<script type="application/ld+json">
  {
  "@context": "http://schema.org/BlogPosting",
      "@type": "BlogPosting",
      "headline": {{ article.title | json }},
  "articleBody": {{ article.content | strip_html | json }},
  "description": "{{ article.exerpt | strip_html | default: ' ' }}",
  "image": [{% if article.image %}"{{ article.image | image_url: width: '240' | prepend: 'https:' }}"{% endif %}],
  "datePublished": {{ article.published_at | date: format: 'default' | json }},
  "dateCreated": {{ article.created_at | date: format: 'default' | json }},
  "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
  },
  "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
  }
  };
</script>

{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "label": "Display Author Name",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_published_date",
        "label": "Display Published Date",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_comment",
        "label": "Display comment",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_excerpt",
        "name": "Excerpt",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_published_date",
        "name": "Published Date",
        "limit": 1
      }, {
        "type": "article_featured_image",
        "name": "Thumbnail",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "Content",
        "limit": 1
      }
    ]
  }
{% endschema %}